<%= form_with model: @item, scope: :item do |form| %>
    <div class="form_data_container">
        <% @schema.fields.each_with_index do |field, i| %>
            <div class="form_container">
                <%= form.label :data, field.titlecase %>
                <% unless @item.new_record? %>
                    <%= form.text_field :data, multiple: true, value: @item.data[i] %>
                <% else %>
                    <%= form.text_field :data, multiple: true %>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="form_category_container">
        <%= form.label :categories %>
        <%= render partial: "categories/tree", locals: {categories: Category.where(parent: nil), form: form, item: @item} %>
    </div>

    <%= form.hidden_field :schema_id, value: @schema.id %>
    <%= form.submit class: :action_button %>
<% end %>
