<h2><%= @item.schema.name %> Item</h2>

<div class="item_info_container">
    <% @item.field_data.each_with_index do |(field, value), index| %>
        <div class="item_info">
            <b><%= field.titlecase %>:</b>
            <p><%= value %></p>
            <% if @item.schema.autofill? %>
                <b>=> autofill field </b>
                <p><%= @item.schema.autofill_mapping[index] %></p>
            <% end %>
        </div>
    <% end %>
</div>
<% if @item.categories.any? %>
    <div class="item_categories">
        <h4>Categories: </h4>
        <% @item.categories.each do |category| %>
            <%= link_to category.name, category, class: :category_link %>
        <% end %>
    </div>
<% end %>

<div class="item_actions">
    <%= button_to "Edit Item", edit_item_path(@item), method: :get, class: :action_button %>
    <%= button_to "Delete Item", @item, method: :delete, class: :action_button, data: {confirm: "Are you sure you want to delete this item?"} %>
</div>
