<%= render "global/header" %>

<h2>Viewing Item</h2>

<% @item.field_data.each do |field, value| %>
    <div class="item_info">
        <b><%= field.titlecase %>:</b>
        <p><%= value %></p>
    </div>
<% end %>
<% if @item.categories.any? %>
    <h4>This item belongs to the following categories:</h4>
    <% @item.categories.each do |category| %>
        <%= link_to category.name, category, class: :category_link %>
    <% end %>
<% end %>

<div class="item_actions">
    <%= button_to "Edit Item", edit_item_path(@item), method: :get, class: :action_button %>
    <%= button_to "Delete Item", @item, method: :delete, class: :action_button, data: {confirm: "Are you sure you want to delete this item?"} %>
</div>
