<div class="header">
  <div class="header_container">
    <h2 class="header_item header_logo">
      <%= link_to "inventorize", root_path %>
    </h2>
    <ul class="header_list">
      <% if user_signed_in? %>
      <li class="header_item">
        <%= link_to "Items", items_path %>
      </li>
      <li class="header_item">
        <%= link_to "Schemas", schemas_path %>
      </li>
      <li class="header_item">
        <%= link_to "Categories", categories_path %>
      </li>
      <li class="header_item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li class="header_item">
        <%= link_to "Log In", new_user_session_path %>
      </li>
      <% end %>
      <li id="mobile_close_menu" class="header_item">
        <a class="header_item" onclick="mobile_menu_toggle()">✕</a>
      </li>
    </ul>
    <a id="mobile_menu_toggler" class="header_item" onclick="mobile_menu_toggle()">☰</a>
  </div>
</div>

<script>
function mobile_menu_toggle() {
    var body = document.querySelector("body");

    if (body.classList.contains("menu")) {
        body.classList.remove("menu");
    }
    else {
        body.classList.add("menu");
    }
}

</script>
